* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #79c7c5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.quote-box {
  background-color: #ffffff;
  max-width: 80vh;
  width: calc(100% - 1.5rem);
  margin: 10vh auto 0;
  border-radius: 4px;
  padding: 4rem 1.5rem;
  position: relative;
  overflow: hidden;
  text-align: center;
}

#quote-anime {
  font-size: 1.4em;
  padding-bottom: 1em;
}

#quote-text {
  font-size: 1.3em;
  font-weight: 500;
  padding: 0 20px;
  margin: 8px 0;
}

#quote-character {
  font-size: 1em;
}

a {
  text-decoration: none;
}

button {
  margin: 10px;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  outline: none;
  background-color: #f45b69;
}

button p {
  font-size: 1.5em;
  color: #ffffff;
}

button:hover {
  background-color: #e95460;
}

/*** Media Queries ***/

@media (max-width: 620px) {
  #quote-anime {
    font-size: 1.2em;
    padding-bottom: 0.8em;
  }

  #quote-text {
    font-size: 1.1em;
    padding: 0 10px;
  }

  #quote-character {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  #quote-anime {
    font-size: 1em;
  }

  #quote-text {
    font-size: 0.9em;
    padding: 0 8px;
  }

  #quote-character {
    font-size: 0.7em;
  }

  button {
    padding: 0.5rem 1rem;
  }

  button p {
    font-size: 1.2em;
  }
}
